@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500;600;700&display=swap');
*{
 padding: 0px;
 margin:0px;
 color: rgb(255, 255, 255);
 font-family: 'Roboto Slab', serif;
}
.background{
    display: flex;
    margin-top: 150px;
    /* align-items: center; */
    justify-content: center;
    /* background-color: rgb(36, 36, 36); */

    height: 100vh;
}

body{
    background: radial-gradient(circle, rgb(19, 11, 58) 0%, rgb(0, 10, 46) 100%);
    
}

body::after{
    content: '';
    position: absolute;
    width: 400px;
    height: 400px;
    top:-200px;
    left: -200px;
    z-index: -1;
    background: radial-gradient(circle, rgb(255, 0, 0) 0%, rgb(235, 255, 0) 200%);
    clip-path: polygon(50% 0%, 90% 20%, 100% 60%, 75% 100%, 25% 100%, 0% 60%, 10% 20%);
}
body::before{
    content: '';
    position: absolute;
    width: 200px;
    height:200px;
    top: 80px;
    right: 12%;
    z-index: -1;
    background: linear-gradient(90deg, rgba(255,0,207,1) 0%, rgba(102,0,255,1) 100%);
    clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
    transform: rotate(100deg);
}
.circle1{
    position: fixed;
    width: 250px;
    height:250px;
    bottom: 50px;
    right: 12%;
    z-index: -1;
    background: radial-gradient(circle, rgb(255, 0, 0) 0%, rgb(235, 255, 0) 200%);
    clip-path: circle(50% at 50% 50%);
}
.triangle{
    position: absolute;
    width: 250px;
    height:250px;
    bottom: 0%;
    left: 10%;
    z-index: -1;
    transform: rotate(20deg);
    background: linear-gradient(90deg, rgba(255,0,207,1) 0%, rgba(102,0,255,1) 100%);
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}
.photo1{
    width: 13vw;
    height: 13vw;
    object-fit:cover;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    top:50px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.288);
    min-width: 150px;
    min-height: 150px;
}
.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    /* padding: 10px 10px 10px 10px; */
    width:60%;
    /* height: 420px; */
    height: fit-content;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    box-shadow: 20px 20px 50px rgba(0, 0,0, 0.5 );
}
.logo{
    width: 70px;
    position:absolute;
    top: 160px;
    left: 22%;
}
.card .name{
    /* margin-top: -160px; */
    margin-top: 105px;
    font-size: 25px;
    font-weight: bold;
    
}
.card .job p{
    font-size: 15px;
    color: rgb(221, 221, 221);
    font-weight: 500;
    
    margin-bottom: 50px;
}
.card .about p{
    padding: 0px 100px;
    color: rgb(216, 216, 216);
    
}
.card .about{
   margin-bottom: 80px;
}
.social{
   display: flex;
   align-items: center;
   justify-content: space-between;
   width: 20%;
   height: fit-content;
   border-radius: 15px;
   border: solid rgb(255, 255, 255) 2px;
   padding: 8px 10px;
   margin-bottom: 30px;
}

.social img{
    width: 30px;
    transition: transform .4s;
    
}
.social img:hover{
    transform: scale(1.5);
    cursor: pointer;
}



